.menu_hamburguera{
    position: relative;
}

.icono_gmail{
    display: none;
}
.menu-icon{
    size-adjust: 40%;
    float: right;
    margin-top: -40px;
    margin-right: 4%;
    color: #FFFFFF;
    cursor: pointer;
}

.menu2{
    width: 327px;
    height: 184px;
    margin-top: 0px;
    margin-left: 25px;
}
.menu{
    position: relative;
    position: absolute;
    display: none;
    top: 75.5px;
    left: 9px;
    right: 0%;
    background-color: rgba(111, 108, 107, 1);
    height: 833px;
    width: 370px;
    background-color: #3c3b3a;
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(111, 108, 107, 1);
    font-family: "Inter", serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    color: rgba(255, 245, 225, 1);
}
h1{
    width: 94px;
    height: 44px;
    top: 2px;
    left: 12px;
    border: 1px solid #3c3b3a;
    margin-top: 10px;    
    margin-bottom: 10px;
    margin-left: 12px;
}

.text1{
    color: #FFFFFF;
    margin-left: 9px;
    margin-top: 19px;
    border: 1px solid #3c3b3a;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 70px;
    height: 24px;
    font-family: "Roboto", serif;
}

.conteiner{
    border: 1% solid #3c3b3a;
    width: 100%;
    height: 65px;
    background-color: #3c3b3a;
}

.grid2{
    margin-left: -15px;
}

.grid{
    margin-left: -15px;
}

.conteiner2{
    background-image: url(img/Illustration-header.png);
    background-size: 250px;
    background-position: 150px;
    background-position-y: 400px;
    background-position-x: 210px;
    background-repeat: no-repeat;
    background-color: rgba(28, 26, 25, 1);
    height: 590px;
    padding-top: 120px; 
    padding-left: 24px;
}

.text2{
    color: rgba(255, 107, 0, 1);
    width: 327px;
    height: 124px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
}

.text3{
    color: rgba(255, 245, 225, 1);
    margin-top: -50px;
    width: 310px;
    height: 27px;
    font-family: "Roboto", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
}

.text4{
    color: rgba(255, 255, 255, 1);
    width: 317px;
    height: 123px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.conteiner3{
    border: 1px solid rgba(28, 26, 25, 0);
    width: 219px;
    height: 40px;
    margin-top: 25px;
}

.fa-github{
    color: rgba(219, 216, 215, 1);
    border: 1px solid rgba(28, 26, 25, 0);
    cursor: pointer;
    height: 40px;
    border-radius: 0px;
    padding: 8;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa-linkedin-in{
    color: rgba(219, 216, 215, 1);
    border: 1px solid rgba(28, 26, 25, 0);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    padding: 8;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa-angellist{
    color: rgba(219, 216, 215, 1);
    border: 1px solid rgba(28, 26, 25, 0);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    padding: 8;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa-x-twitter{
    color: rgba(219, 216, 215, 1);
    border: 1px solid rgba(28, 26, 25, 0);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    padding: 8;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa-medium{
    color: rgba(219, 216, 215, 1);
    border: 1px solid rgba(28, 26, 25, 0);
    cursor: pointer;
    width: 33px;
    height: 40px;
    border-radius: 0px;
    padding: 8;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.container_major{
    border: 1px solid rgb(252, 252, 252);
    width: 100%;
    height: 215em;
}

.container_sons{
    border: 1px solid rgb(255, 255, 255);
    width: 20.5rem;
    height: 6.7rem;
    margin-left: 20px;
    margin-top: 110px;
}

.titulo_major{
    font-family: "Crete Round", serif;
    color: rgba(28, 26, 25, 1);
    margin-top: 20px;
    text-align: center;
    font-weight: 400px;
    font-size: 40px;
    border-bottom: 1px solid rgba(33, 33, 33, 1);
    padding-bottom: 36px;
}

.container_sons2{
    border: 1px solid rgba(255, 0, 0, 0); 
    margin-top: 80px;
    width: 100%;
    height: 218.4rem;     
}

.imagen1{
    width: 310px;
    height: 237px;
    margin-left: 25px;
}

.container_text{
    border: 1px solid rgba(255, 0, 0, 0);
    width: 310px;
    height: 350px;
    margin-left: 24px;
}

.text_major1{
    color: rgba(9, 30, 66, 1);
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
}

.sub_container_text1{
    color: rgba(9, 30, 66, 1);
    border: 1px solid rgb(255, 255, 255);
    margin-top: -20px;
    left: 80px;
    width: 310px;
    height: 160px;
}

.text_major2{
    margin-top: 0px;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 19px;
}

.container_tags{
    display: flex;
    gap: 12px;
    left: 80px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 30px;
    width: 310px;
    height: 40px;
    text-align: center;
}
.text_modal_escritorio{
    display: none;
}

.Container_tag1{
    border: 1px solid rgba(137, 147, 164, 1);
    margin-top: -1px;
    width: 55px;
    height: 40px;
     
}
.tag_css{
    margin-top: 10px;
    color: rgba(9, 30, 66, 1);
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.container_tag2{
    border: 1px solid rgba(137, 147, 164, 1);
    margin-top: -1px;
    width: 67px;
    height: 40px;
}

.tag_HTLM{
    margin-top: 10px;
    color: rgba(9, 30, 66, 1);
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.container_tag3{
    border: 1px solid rgba(137, 147, 164, 1);
    margin-top: -1px;
    width: 95px;
    height: 40px;
}

.titulo_modal_escritorio{
    display: none;
}

.tag_Bootstrap{
    margin-top: 10px;
    color: rgba(9, 30, 66, 1);
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.container_tag4{
    border: 1px solid rgba(137, 147, 164, 1);
    margin-top: -1px;
    width: 61px;
    height: 40px;
}

.tag_Ruby{
    margin-top: 10px;
    color: rgba(9, 30, 66, 1);
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.button_decoration{
    border: 1px solid rgba(245, 88, 0, 1);;
    margin-top: 15px;
    background-color: rgba(245, 88, 0, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    width: 124px;
    height: 48px;
    border-color: rgba(255, 107, 0, 1);
}

.text_buttom{
    margin-top: 10px;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    initial-letter: 3%;
}

.button_decoration:hover{
    color: rgba(255, 107, 0, 1);
    background-color: rgba(255, 245, 225, 1);
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
    z-index: 9999; /* Asegura que esté encima de todo */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.modal-content {
    position: relative;
    margin-left: 10px;
    top: -0px;
    height: 650px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 320px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }

.modal_titule{
    color: rgba(23, 43, 77, 1);
    position: relative;
    top: -40px;
    border: 1px solid rgba(255, 0, 0, 0);
    height: 50px;
    width: 290px;
}
.titulo_modal{
    font-family: "Roboto", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0%;
}

.HBR{
    position: relative;
    top: 20px;
    display: flex;
    gap: 8px;
}

.tag_Ruby_and_rails{
    margin-top: 10px;
    color: rgba(9, 30, 66, 1);
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    width: 130px;
}

.imagen_modal{
    position: relative;
    top: 35px;
    margin-left: -5px;
    width: 330px;
    height: 220px;
}

.text_and_buttons{
    position: relative;
    top: 60px;
    height: 288px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.text_modal{
    color: rgba(52, 69, 99, 1);
    position: relative;
    top: -20px;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.modal_buttons1{
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: -20px;
    border: rgba(255, 107, 0, 1);
    background-color: rgba(255, 107, 0, 1);
    width: 130px;
    height: 50px;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
}
.fa-file-export{
    position: relative;
    margin-left: 13px;
}

.modal_buttons2{
    color: rgba(255, 255, 255, 1);
    border: rgba(255, 107, 0, 1);
    position: relative;
    top: -20px;
    margin-left: 20px;
    background-color: rgba(255, 107, 0, 1);
    width: 160px;
    height: 50px;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
}

.fa-square-github{
    position: relative;
    margin-left: 13px;
    font-size: 20px;
}

.container_tag4_modal{
    border: 1px solid rgba(137, 147, 164, 1);
    margin-top: -1px;
    width: 130px;
    height: 40px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.Modal_container{
    border: 1px solid rgb(255, 255, 255);
    width: 278px;
    height: 36px;
    display: flex;
    gap: 8px;
}

.modal_tags1{
    border: 1px solid #979493;
    width: 59px;
    height: 36px; 
}

.tag_html{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    color: #3C3A39;
}

.modal_tags2{
    border: 1px solid #979493;
    width: 90px;
    height: 36px; 
}

.tagBootstrap{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    color: #3C3A39;
}

.modal_tags3{
    border: 1px solid #979493;
    width: 113px;
    height: 36px; 
}

.tagRubyRails{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    color: #3C3A39;
}

.titulo_model{
    margin-top: -5px;
    color: #172B4D;
    font-family: "Roboto", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0%;
}

.img_model{
    width: 300px;
    height: 220px;
    margin-top: 30px;
}

.container_text_model{
    border: 1px solid rgb(255, 255, 255);
    margin-top: -480px;
    width: 300px;
    height: 30px;
    margin-left: 40px;
}

.model_text{
    color: rgba(52, 69, 99, 1);
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.Buttob_see_Live{
    border: 1px solid rgba(255, 107, 0, 1);
    background-color: rgba(255, 107, 0, 1);
    width: 129px;
    height: 48px;
    margin-top: 12px;
}

.Buttob_See_source{
    border: 1px solid rgba(255, 107, 0, 1);
    background-color: rgba(255, 107, 0, 1);
    width: 159px;
    height: 48px;
    margin-top: 305px;
    margin-left: 15px;
}

.buton_model_text{
    color: rgba(255, 255, 255, 1);
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 30px;
}

.buton_model_text_2{
    color: rgba(255, 255, 255, 1);
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 30px;
}

.Card_works_1{
    position:relative;
    margin-top: 30px;
    width: 327px;
    height: 386px;
    overflow: hidden;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)20%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 90%);
}

.img1 {
    display: none;
}

.img2{
    display: none;
}

.backgraud_img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo */
    z-index: -1; /* Envía la imagen detrás del contenido */
}

.container_titulo{
    border: 1px solid rgba(0, 0, 255, 0);
    width: 333px;
    height: 260px;
    margin-top: 64px;
    left: -3px;
}

.conteiner_text_card{
    border: 1px solid rgba(255, 255, 255, 0);
    width: 295px;
    height: 81px;
    margin-left: 30px;
}
.titule_card{
    color: rgba(255, 255, 255, 1);  
    font-size: 42px;  
    font-weight: 400;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    line-height: 44px;
    position: relative;  
    z-index: 10;  
}

.conteiner_text_card_1{
    border: 1px solid rgba(255, 255, 255, 0);
    width: 301px;
    height: 99px;
    margin-top: 50px;
    margin-left: 30px;
}

.text_card{
    color: rgb(255, 255, 255);  
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 10; 
    position: relative; 
}

.card_tags{
    border: 1px solid rgba(255, 0, 0, 0);
    width: 247px;
    height: 40px;
    display: flex;
    gap: 12px;
    margin-top: 30px;
    margin-left: 30px;
}
.Ht{
    text-align: center;
    font-family: "Inter", serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 40px;
    border: 1px solid rgb(2, 2, 2);
    width: 67px;
    height: 40px;
    color: (255, 255, 255, 0.24);
    color: #fefefe;
    backdrop-filter: blur(0px); 
    border: 1px solid rgba(255, 255, 255, 0.24);
    background: rgba(255, 255, 255, 0.24); 
}
    
.boost{
    text-align: center;
    font-family: "Inter", serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 40px;
    border: 1px solid rgb(2, 2, 2);
    width: 95px;
    height: 40px;
    color: #fefefe;
    backdrop-filter: blur(0px); 
    border: 1px solid rgba(194, 189, 189, 0.842); 
    background: rgba(255, 255, 255, 0.24); 
}
.Rub{
    text-align: center;
    font-family: "Inter", serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 40px;
    border: 1px solid rgb(2, 2, 2);
    width: 61px;
    height: 40px;
    color: #fefefe;
    backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    background: rgba(255, 255, 255, 0.24); /* Gris claro translúcido */
}

.card_buton{
    border: 1px solid rgba(245, 88, 0, 1);;
    background-color: rgba(245, 88, 0, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    width: 327px;
    height: 48px;
    border-color: rgba(255, 107, 0, 1);
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;  
    text-align: center;
}

.button_decoration_cards{
    opacity: 0;
    border: 1px solid rgba(245, 88, 0, 1);;
    background-color: rgba(245, 88, 0, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    width: 327px;
    height: 48px;
    border-color: rgba(255, 107, 0, 1); 
}

.text_buttom_2{
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 10px;
}

.footer_body{
    border: 1px;
    background-color: rgba(28, 26, 25, 1);
    width: 100%;
    height: 125.4rem;
    margin-top: 501px;
    background-image: url(img/Frame.png);
    background-size: 200px;
    background-position: 170px;
    background-position-y: 400px;
    background-repeat: no-repeat;
}

.text_footer{
    color: rgba(255, 107, 0, 1);
    position: relative;
    top: 150px;
    border: 1px solid rgba(255, 0, 0, 0);
    width: 337px;
    height: 79px;
    margin-left: 25px;
    margin-bottom: -100px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 72px;
}

.text_footer_1{
    color: rgba(244, 245, 247, 1);
    border: 1px solid rgba(255, 0, 0, 0);
    position: relative;
    top: 250px;
    margin-left: 25px;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 327px;
    height: 148px;
}

.button_footer{
    border: 1px solid rgba(245, 88, 0, 1);;
    margin-top: 15px;
    background-color: rgba(245, 88, 0, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    width: 156px;
    height: 48px;
    border-color: rgba(255, 107, 0, 1);
    position: relative;
    top: 250px;
    margin-left: 25px;
}

.text_buttom_footer{
    margin-top: 10px;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    initial-letter: 3%;
}

.button_footer:hover{
    color: rgba(255, 107, 0, 1);
    background-color: rgba(255, 245, 225, 1);
}

.divider{
    border: 1px solid rgba(255, 255, 255, 1);
    position: relative;
    top: 530px;
    width: 327px;
    margin-left: 20px;
}

.columna{
    position: relative;
    top: 540px;
    border: 1px solid rgba(255, 0, 0, 0);
    width: 329px;
    height: 1103.46px;
    margin-left: 20px;
}

.sub_columna{
    background-image: url(img/Rectangle\ 55.png);
    background-repeat: no-repeat;
    background-position-y: 8px;
    background-size: 30px;
    position: relative;
    margin-left: 50px;
    border: 1px solid rgba(255, 0, 0, 0);
    width:225.46px;
    height: 291.46px;
    position: relative;
    top: 50px;
    color: rgba(255, 255, 255, 1);
    font-family: "Meera Inimai", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
}

.lenguajes{
    position: relative;
    margin-left: 20px;
    border: 1px solid rgba(0, 0, 255, 0);
    width: 186px;
    height: 216px;
    text-align: center;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
}

.subcolumna_2{
    background-image: url(img/Rectangle\ 56.png);
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-size: 20px;
    position: relative;
    margin-left: 50px;
    border: 1px solid rgba(255, 0, 0, 0);
    width:225.46px;
    height: 291.46px;
    position: relative;
    top: 90px;
    color: rgba(255, 255, 255, 1);
    font-family: "Meera Inimai", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
}

.subcolumna_3{
    background-image: url(img/Rectangle\ 57.png);
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-size: 25px;
    background-position-x: 40px;
    position: relative;
    margin-left: 50px;
    border: 1px solid rgba(255, 0, 0, 0);
    width:225.46px;
    height: 291.46px;
    position: relative;
    top: 140px;
    color: rgba(255, 255, 255, 1);
    font-family: "Meera Inimai", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
}

.container_white{
    position: relative;
    top: 10px;
    border: 1px solid rgba(255, 0, 0, 0) ;
    width: 100%px;
    height: 980px;
}

.warnings{
    position: absolute;
    top: 430px;
    left: 100px;
}
.conainer_white_text{

    position: relative;
    top: 90px;
    margin-left: 20px;
    color: #172B4D;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 327px;
    height: 222px;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
}

.conatiner_email{
    flex-direction: column;
    display: flex;
    gap: 24px;
    position: relative;
    top: 150px;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 327px;
    height: 430px;
    margin-left: 23px;
}

.container_name{
    font-family: "Inter", serif;
    position: relative;
    line-height: 50px;
    color: #979493;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 327px;
    height: 48px;
}

.email{
    position: relative;
    font-family: "Inter", serif;
    line-height: 50px;
    color: #979493;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 327px;
    height: 48px;
    top: 20px;
}

.Write{
    font-family: "Inter", serif;
    color: #979493;
    position: relative;
    top: 75px;;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 327px;
    height: 114px;
}

input{
    background: none;
    color: #c6c6c6;
    font-size: 1rem;
    padding: 10px 10px 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(219, 216, 215, 1);
}
    
input:focus{
    outline: none;
    color: #5e5d5d;
}

.button_email{
    border: 1px solid rgba(245, 88, 0, 1);;
    position: relative;
    top: 380px;
    background-color: rgba(245, 88, 0, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    width: 156px;
    height: 48px;
    border-color: rgba(255, 107, 0, 1);
    position: relative;
    margin-left: 85px;
}

.button_email:hover{
    color: rgba(255, 107, 0, 1);
    background-color: rgba(255, 245, 225, 1);
}

.text_buttom_email{
    margin-top: 10px;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    initial-letter: 3%;
}

.container_iconos_footer{
    border: 1px solid rgba(223, 225, 230, 1);
    position: relative;
    top: 140px;
    margin-left: -20px;
    width: 352px;
}

.container_icon{
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    top: 115px;
    width: 375;
    height: 100px;
    margin-left: -9px;
}

.container_footer_tags{
    border: 1px solid rgba(255, 0, 0, 0);
    position: relative;
    margin-left: 68px;
    display: flex;
    top: 20px;
}

.border_tags1{
    width: 40px;
    height: 40px;
}

.border_tags2{
    width: 40px;
    height: 40px;
}

.border_tags3{
    width: 40px;
    height: 40px;
}

.border_tags4{
    width: 40px;
    height: 40px;
}

.border_tags5{
    width: 40px;
    height: 40px;
}

.last_name{
    display: none;
}

footer .fa-github{
    color: rgba(80, 95, 121, 1); 
}

footer .fa-linkedin-in{
    color: rgba(80, 95, 121, 1);
}

footer .fa-angellist{
    color: rgba(80, 95, 121, 1);
}

footer .fa-x-twitter{
    color: rgba(80, 95, 121, 1);
}

footer .fa-medium{
    color: rgba(80, 95, 121, 1);
}

@media (min-width:1349px){
    .conteiner2{
        background-image: url(img/Illustration-header.png);
        background-position-x: 903.8px;
        background-position-y: -75px;
        background-size: 680px;
        width: 1003px;
        height: 770px;
    }

    .conteiner2{
        width: 98.4%;
    }

    .text2{
        color: rgba(255, 107, 0, 1);
        border: 1px solid rgb(28, 25, 25);
        width: 400px;
        height: 160px;
        font-family: "Crete Round", serif;
        font-weight: 400;
        font-size: 72px;
        line-height: 82px;
        letter-spacing: 0.37px;
        margin-left: 150px;
    }

    .text3{
        color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(28, 26, 25, 1);
        margin-top: -50px;
        width: 566px;
        height: 24px;
        font-family: "Inter", serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 45px;
        letter-spacing: 0%;
        margin-left: 150px;
    }

    .text4{
        color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(204, 12, 12, 0);
        width: 566px;
        height: 123px;
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0%;
        margin-left: 150px;
    }

    .conteiner3{
        position: absolute;
        top: 20rem;
        left: -3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .container_major{
        position: relative;
        border: 1px solid rgba(255, 0, 0, 0);
        width: 1205px;
        height: 1805px;
        left: 172px;
    }

    .container_sons{
        width: 1113px;
        height: 52px;
    }

    .titulo_major{
        position: relative;
        font-family: "Crete Round", serif;
        color: rgba(9, 30, 66, 1);
        margin-top: -30px;
        text-align: center;
        font-weight: 400px;
        font-size: 40px;
        border-bottom: 1px solid rgba(33, 33, 33, 1);
        padding-bottom: 15px;
    }

    .imagen1{
        position: relative;
        width: 600px;
        height: 400px;
        left: 50px;
    }

    .text_major1{
        position: absolute;
        margin-left: 620px;
        top: 205px;
        left: 80px;
        color: rgba(9, 30, 66, 1);
        font-family: "Crete Round", serif;
        font-weight: 400;
        line-height: 42px;
    }



    .footer_body{
        margin-top: -200px;
        background-image: url(img/illustration-about\ me@2x.png);
        background-size: 42.0794rem;
        background-position-x: 55.8rem;
        background-position-y: 7rem;
        height: 90.4rem;
    }

    .text_footer{
        color: rgba(255, 107, 0, 1);
        position: relative;
        top: 150px;
        border: 1px solid rgba(255, 0, 0, 0);
        width: 337px;
        height: 79px;
        margin-left:200px;
        margin-bottom: -100px;
        font-family: "Crete Round", serif;
        font-weight: 400;
        font-size: 72px;
    }

    .text_footer_1{
        color: rgba(244, 245, 247, 1);
        border: 1px solid rgba(255, 0, 0, 0);
        position: relative;
        top: 15.625rem; 
        margin-left: 12.5rem; 
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 1.25rem; 
        letter-spacing: 0%;
        line-height: 2rem; 
        width: 35.375rem; 
        height: 9.25rem; 
    }

    .button_footer{
        margin-left: 12.5rem; 
    }

    .divider{
        position: relative;
        border: 1px solid rgba(255, 255, 255, 1);
        margin-left: 12.5rem; 
        top: 30.125rem; 
        width: 74.375rem;
    }

    .columna{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Ajusta según el número de columnas */
        gap: 210px;
        align-items: start;
        top: 630px;
        left: 8.5rem;
    }

    .subcolumna_2{
        top: 55px;
    }
    
    .subcolumna_3{
        top: 55px
    }

    .container_white{
        margin-top: -9px;
        background-color: white;
        width: 100%px;
        height: 780px;
        overflow: hidden; 
    }

    .container_name{
        font-family: "Roboto", serif;
        font-weight: 400px;
        font-size: 15px;
        position: relative;
        line-height: 50px;
        color: #979493;
        border: 1px solid rgba(0, 0, 0, 0);
        left: 600px;
        top: -360px;
    }

    .email{
        position: relative;
        font-family: "Roboto", serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 50px;
        color: #979493;
        border: 1px solid rgba(0, 0, 0, 0);
        width: 730px;
        height: 48px;
        top: -350px;
        left: 600px;
    }

    .Write{
        font-family: "Roboto", serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 50px;
        color: #979493;
        position: relative;
        top: -320px;
        left: 600px;
        border: 1px solid rgba(0, 0, 0, 0);
        width: 730px;
        height: 114px;
    }

    .last_name{
        color: rgba(151, 148, 147, 1);
        font-family: "Roboto", serif;
        font-weight: 400px;
        font-size: 15px;
        position: relative;
        line-height: 50px;
        border: 1px solid rgba(0, 0, 0, 0);
        left: 1000px;
        top: -573px;
        display: block;
    }

    .button_email{
        top: 30px;
        left: 515px;
    }

    .conainer_white_text{
        color: rgba(38, 38, 38, 1);
        font-size: 40px;
        line-height: 50px;
        width: 400px;
        height: 260px;
        text-align: justify;
        top: 115px;
        left: 150px;
    }

    .container_iconos_footer{
        top: -70px;
        width: 1557px;
    }

    .container_footer_tags{
        color: rgba(80, 95, 121, 1);
        top: -194px;
        left: 558px;
    }


    .container_footer_tags a{
        color: rgba(80, 95, 121, 1);
    }

    .sub_container_text1{
        position: absolute;
        margin-left: 620px;
        margin-top: 0px;
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 20px;
        width: 450px;
        height: 150px;
        top: 300px;
    }

    .container_tags{
        position: absolute;
        margin-left: 620px;
        top: 420px;
        display: flex;
        gap: 12px;
        border: 1px solid rgb(255, 255, 255);
        width: 310px;
        height: 40px;
        text-align: center;
    }

    .button_decoration{
        position: absolute;
        border: 1px solid rgba(245, 88, 0, 1);;
        left: 700px;
        top: 510px;
        background-color: rgba(245, 88, 0, 1);
        color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        width: 124px;
        height: 48px;
        border-color: rgba(255, 107, 0, 1);
    }

    .container_sons2{
        width: 1205px;
        height: 1805px;
    }

    .grid{
        position: relative;
        display: grid;
        gap: 190px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Distribuye las tarjetas en columnas */
        top: 50px;
        left: 50px;
        border: 1px solid rgba(255, 0, 0, 0);
        width: 1190px;
    }

    .grid2 {
        position: relative;
        display: grid;
        gap: 190px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Distribuye las tarjetas en columnas */
        top: 50px;
        left: 50px;
        width: 1190px;
    }

    .container_titulo{
        opacity: 1;
        transition: .3s ease;
    }

    .container_titulo:hover{
        opacity: 0;
        cursor: pointer;
    }

    .card_buton{
        display: none;
    }

    .Card_works_1{
        position:relative;
        margin-top: 30px;
        width: 327px;
        height: 386px;
        overflow: hidden;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7)20%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.1) 90%);
    }
    .img1{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: -1;        
    }

    .img2{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: -1;        
    }

    .button_decoration_cards:hover{
        color: rgba(255, 107, 0, 1);
        background-color: rgba(255, 245, 225, 1);
    }
    .Card_works_1:hover .button_decoration_cards{
        opacity: 1;
    }
    .Card_works_1:hover .img2{
        z-index: 0;
    }

    .Card_works_1:hover .img1{
        z-index: 0;
    }

    .Card_works_1:hover .backgraud_img{
        z-index: 0;
    }

    .button_decoration_cards{
        margin-top: 12px;
        position: absolute; 
        transition: .5s ease;
        opacity:0;
    }

    .menu_hamburguera{
        display: none;
    }
    
    .menu{
        display: block;
        width: 0px;
    }

    .menu2 {
        position: absolute;
        top: -4rem;
        left: 63rem;
        display: flex;
        justify-content: space-around;
    }

    .menu2 a {
        height: 1rem;
        color: rgba(255, 255, 255, 1);
        margin: 0 20px;
        font-size: 18px;
        font-family: "Inter", serif;
        font-weight: 600;
        font-size: 1rem;
        border-bottom: 0px;
    }

    .icono_gmail{
        top: 2.3rem;
        left: 88rem;
        color: white;
        position: absolute;
        display: block;
        cursor: pointer;
    }

    .container_name input {
        padding: 20px 10px 15px 10px;
        background-color: transparent;
        color: rgba(151, 148, 147, 1);
        position: relative;
        z-index: 1;
      }

      .container_name input::placeholder {
        color: #999;
        font-size: 16px;
        transition: all 0.2s ease;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); 
        z-index: 0; 
      }

      .container_name input:focus::placeholder{
        transform: translateY(-150%) ;
        font-size: 16px; 
        color: #888; 
      }

      .email input{
        padding: 20px 10px 15px 10px;
        background-color: transparent;
        color: rgba(151, 148, 147, 1);
        position: relative;
        z-index: 1;
      }

      .email input::placeholder {
        color: #999;
        font-size: 16px;
        transition: all 0.2s ease;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); 
        z-index: 0; 
      }

      .email input:focus::placeholder{
        transform: translateY(-150%) ; 
        font-size: 16px; 
        color: #888; 
      }

      .last_name input{
        padding: 20px 10px 15px 10px;
        background-color: transparent;
        color: rgba(151, 148, 147, 1);
        position: relative;
        z-index: 1;
      }

      .last_name input::placeholder{
        color: #999;
        font-size: 16px;
        transition: all 0.2s ease;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); 
        z-index: 0; 
      }

      .last_name input:focus::placeholder{
        transform: translateY(-150%) ; 
        font-size: 16px; 
        color: #888; 
      }


      .modal-content {
        left: 180px;
        top: 55px;
        width: 100%;
        height: 600px;
        background: white;
        max-width: 1160px;
      }

      .titulo_modal{
        display: none;
      }

      .titulo_modal_escritorio{
        display: block;
        font-family: "Crete Round", serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: 0%;
        width: 1060px;
      }

      .HBR{
        top: -5px;
      }

      .text_modal{
        display: none;
      }

      .text_modal_escritorio{
        color: rgba(52, 69, 99, 1);
        position: relative;
        top: -514px;
        left: 700px;
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0%;
        width: 440px;
        height: 340px;
        display: block;
      }

      .imagen_modal{
        width: 670px;
        height: 460px;
      }

      .modal_buttons1{
        left: 700px;
        top: -450px;
      }

      .modal_buttons2{
        left: 700px;
        top: -450px;
      }
}
